.container {
    margin-bottom: 1em;
}

h2 {
    margin-top: 1em;
    border-left: solid 0.4em #757575;
    padding-top: 0.15em;
    padding-left: 0.3em;
    padding-bottom: 0.25em;
    border-bottom: solid 2px #757575;
    margin-bottom: 0.5em;
}

li {
    margin-top: 0.2em;
    margin-bottom: 0.35em;
}

.label {
    display: inline-block;
}

/* https://ics.media/entry/200317/ */
body {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        "BIZ UDPGothic",
        Meiryo,
        sans-serif;
}
